body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    
}

.header{
    display: flex;
align-items: center;
justify-content: space-between;
background-color: #1f2937;
padding: 0 200px;
height: 40px;
margin-top: 0;

}

.logo{
    
    color:#f9faf8;
    font-size: 24px;
}

ul{
display: flex;
list-style-type: none;
gap: 16px;
padding: 0;
font-size: 18px;

}

a{
    text-decoration: none;
    color: #e5e7eb;
}


.footer{
    background-color: #1f2937;
    margin: auto 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 18px;
    padding: 42px ;
    height: 70px;
}

.container{
display: flex;
flex-direction: column;
background-color: white;
justify-content: space-evenly;
padding:0;
}


.cards{
    display: flex;
    padding:50px 200px 100px 200px;
height: 300px;
justify-content: center;
align-items: center;
gap: 50px;
}

.middle{
    display: flex;
    background-color:#e5e7eb ;
    padding: 50px 400px;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.quote{
font-size: 36px;
font-style: italic;
color: #1f2937;
align-self: flex-start ;

}

.author{
font-weight: bold;
align-self: flex-end;
font-size: 24px;
}

.modal{
    display: flex;
    background-color: #3882f6;
    padding: 30px 450px;
    width: 350px;
    height: 120px;
    justify-content: space-around;
    align-items: center;
    border-radius: 16px;
    gap: 300px;
    }

button{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    width: 80px;
    height: 25px;
    font-weight: bold;
}

.signup1,.signup2{
font-size: 18px;
width: fit-content;
height: fit-content;
padding: 8px 30px;
}

.signup2{
    border: white 2px solid;
    flex-shrink: 0;
}

.test{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto 200px;
    height: 400px;
}

.end{
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    justify-content: center;  
    width: 500px;
    gap: 6px;
   align-items: flex-start;
    height: 80px ;
    flex-shrink: 0;
    
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 200px 0 200px ;
    font-size:36px ;
    font-weight: bolder;
    height: 100px;
}

.bike{
    width: 500px ;
    height: 250px;
    
}

.bridge{
    width: 200px;
    height: 200px;
    border: #3882f6 solid 3px;
    border-radius: 8px;
}

.leftintro{
    display: flex;
    flex-direction: column;
    width: 500px ;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
    height: 250px;
}

.text{
font-size: 48px;
font-weight: bolder;
color: #f9faf8;
}

.subtext{
    font-size:18px ;
    color: #e5e7eb;
}

.intro{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: auto 200px;
    gap: 100px;
    align-items: center;
    height: 400px;
}

.endtitle{
font-weight: bolder;
font-size: 24px;

}

.endtext{
    font-size: 18px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.imgsub{
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    
}